.scoreBoard {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 2em;
  background-color: var(--accent);
  margin: 3rem auto;
  box-shadow: 0px 0px 8px var(--shadow);
  border-radius: 0.5rem;
  font-weight: bold;
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.score--x {
  color: var(--x-color);
  border-bottom: 5px solid var(--x-color);
  border-radius: 0.5rem 0 0 0.5rem;
}

.score--o {
  color: var(--o-color);
  border-bottom: 5px solid var(--o-color);
  border-radius: 0 0.5rem 0.5rem 0;
}

.inactive {
  border-bottom: 5px solid transparent;
}
